#filterSortBox {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 40%;
    width: 70%;
    color: rgb(255, 255, 255);
}
  
.selectBlock {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
}

.selectBlock label {
    height:100%;
    width:40%;
    font-size: larger;
}

.selectBlock select {
    width: 60%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #555;
}

.selectBlock select:focus {
    outline: none;
}