#searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 60%;
}

.inputBox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 40%;
  background-color: rgb(255, 255, 255);
}

.inputBox input,
button {
  display: inline-block;
  height: 100%;
  width: 50%;
  padding: 2%;
  background-color: transparent;
}

.inputBox input {
  flex-grow: 1;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: none;
  outline: none; 
}

.inputBox button {
  flex-shrink: 0;
  width:auto;
  cursor: pointer;
}

.filterBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50%;
}

.selectBox {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: rgb(255, 255, 255);
  flex: 1;
}

.selectBox input,
select {
  display: inline-block;
  height: 100%;
  width: 50%;
  padding: 2%;
}
.selectBox select{
  font-size: large;
}

@media screen and (max-width: 989px) {
  .inputContainer {
    width: 100%;
  }

  .filterBox {
    flex-direction: column;
    height: auto;
  }

  .selectBox {
    width: 100%;
  }
}